<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>爬虫状态展示</title>

    <!-- 引入 echarts.js -->
    <script src="http://libs.baidu.com/jquery/1.7.2/jquery.min.js"></script>
    <!-- 引入jquery.js -->
    <script src="https://cdn.bootcss.com/echarts/4.1.0.rc2/echarts.min.js"></script>

</head>
<body>

<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width: 800px;height:500px;margin: 0 auto;"></div>

<script type="text/javascript">


    var myChart = echarts.init(document.getElementById('main'));
$(document).ready(function () {
            getData();
        });

function getData() {
         $.ajax({
            url:'/kjson',
            data:{},
            type:'POST',
            async:false,
            dataType:'json',
            success:function(data){
            option = data;
            myChart.setOption(option);
                    }
                });
         }



</script>
</body>
</html>
