<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>炫酷的ECharts</title>

    <!-- 引入 echarts.js -->
    <script src="http://libs.baidu.com/jquery/1.7.2/jquery.min.js"></script>
    <!-- 引入jquery.js -->
    <script src="https://cdn.bootcss.com/echarts/4.1.0.rc2/echarts.min.js"></script>

</head>

<body>

<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width: 800px;height:500px;margin: 0 auto;"></div>

<script type="text/javascript">

    var myChart = echarts.init(document.getElementById('main'));

    var app = {};
     $(document).ready(function () {
            getData();
           console.log(app)
        });

    function getData() {
         $.ajax({
            url:'/order',
            data:{},
            type:'POST',
            async:false,
            dataType:'json',
            success:function(data){
            app = data
            option = {
    visualMap: {
        type: 'continuous',
        min: 0,
        max: 5,
        inRange: {
            color: ['#2D5F73', '#F2D1B3', '#F2B8A2', '#F28C8C','#538EA6']
        }
    },
    series: {
        type: 'sunburst',
        data: app.result,
        radius: [0, '90%'],
        label: {
            rotate: 'radial'
        }
    }
};

    myChart.setOption(option);

                    }
                });
         }


</script>
</body>
</html>
