xlsxwriter
oss2
Flask==1.0.2
Jinja2==2.10
chardet>=2.2
cssselect>=0.9
lxml
pycurl
pyquery
requests>=2.2
tornado==4.5.3
mysql-connector-python>=1.2.2
pika>=0.9.14
pymongo>=2.7.2
unittest2>=0.5.1
Flask-Login>=0.4.1
u-msgpack-python>=1.6
click>=3.3
SQLAlchemy>=0.9.7
six>=1.5.0
amqp>=2.5.1
beautifulsoup4>=4.6.0
redis>=3.0.0
redis-py-cluster
#psycopg2
elasticsearch==2.3.0
tblib
monthdelta
pytz
xlrd
gevent==1.4.0
grequests
peewee
selenium
fire
pillow
aiohttp>=3.5.4
Werkzeug==0.14.1
wsgidav>=3.0.0
#mitmproxy
#mq_http_sdk
#graphviz
#jieba
#qiniu
pymysql==1.0.2